<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="创驰云网络科技">
<meta name="description" content="创驰云网络科技">
<meta name="author" content="创驰云网络科技">
<title>招聘详情_创驰云网络科技</title>
<link href="{$APP_URL}./css/shiguang.css" rel="stylesheet">
<script src="{$APP_URL}./js/hm.js"></script>
<script src="{$APP_URL}./js/push.js"></script>
<script src="{$APP_URL}./js/modernizr"></script>
</head>
<body>
<include file=".././Common/header.html"/>
<section class="banner"> <img src="{$APP_URL}./img/banner/banner-jobs.jpg" alt="jobs" class="banner-img">
  <div class="banner-content">
    <div class="container">
      <h1 style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight">给你一个<span class="highlight">平台</span>，重新认识世界！</h1>
      <p style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;" class="lead wow bounceInRight" data-wow-delay="0.5s">Give you a platform to re-understanding of the world!</p>
    </div>
  </div>
</section>
<section class="body-content mb30">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">当前位置：</li>
      <li><a href="{$APP_URL}">首页</a></li>
      <li><a href="{$APP_URL}Job/Index">公司招聘</a></li>
      <li class="active">技术总监 岗位详情</li>
    </ol>
    <div class="row">
      <div class="col-md-8">
        <div class="alert alert-warning mb30">
          <h2 class="highlight">技术总监 <small>/ 需求 2 人</small></h2>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <p>薪资：<span class="text-danger lead">面议</span></p>
              <p>类型：全职 | 学历：专科 | 经验：5年以上</p>
            </div>
            <div class="col-md-6"> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >申请该职位</a> </div>
          </div>
        </div>
        <fieldset>
          <legend>职位描述：</legend>
          <p></p>
          <p>1、负责整体系统的技术架构规划和设计；</p>
          <p>2、制定和实施重大技术决策和技术方案；</p>
          <p>3、系统重难点技术的攻关；</p>
          <p></p>
        </fieldset>
        <fieldset class="mb50">
          <legend>任职要求：</legend>
          <p></p>
          <p>1、出色的沟通交流与文档组织能力，具备良好的组织协调及宣贯能力；</p>
          <p>2、具有良好的责任意识与服务意识，专业、细心；</p>
          <p>3、良好的技术功底和架构设计能力；熟悉常用平台、中间件和开发工具；</p>
          <p>4、知识面广，思路开阔，创新能力强，对新技术持有敏感性并愿意致力于新技术的探索和研究；</p>
          <p>5、良好的系统分析、架构设计能力，有大型分布式系统、大规模高并发系统经验者优先考虑；</p>
          <p></p>
        </fieldset>
        <div class="text-center mb30"> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >申请该职位</a> <a class="btn btn-danger btn-lg segmdl2 segmdl2-rotate" href="{$APP_URL}Job/Index">查看其他职位</a> </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">热门职位</div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li> <a class="h5 highlight" href="{$APP_URL}Job/detail/id/1.html">技术总监</a>
                <p class="small">负责整体系统的技术架构规划和设计；制定和实施重大技术决策和技术方案；系统重难点技术的攻关；</p>
              </li>
              <li> <a class="h5 highlight" href="{$APP_URL}Job/detail/id/1.html">WEB 前端开发工程师</a>
                <p class="small">涉及大量的新产品和新技术，主要聚焦在基于云计算和 Web 的分布式系统的架构设计和开发工作。</p>
              </li>
              <li> <a class="h5 highlight" href="{$APP_URL}Job/detail/id/1.html">运营总监</a>
                <p class="small">负责公司产品的运营；根据公司发展战略制定整体运营计划，组织、协调各种资源，确保整体经营目标的达成；</p>
              </li>
              <li> <a class="h5 highlight" href="{$APP_URL}Job/detail/id/1.html">.NET 高级开发工程师</a>
                <p class="small">参与公司评标产品的标准化抽离设计；负责评标项目的模块详细设计；进行评标项目的模块开发任务；</p>
              </li>
              <li> <a class="h5 highlight" href="{$APP_URL}Job/detail/id/1.html">高级平面设计师</a>
                <p class="small">清晰理解部门的设计需求，高效完成平面宣传创意设计。捕捉和挖掘产品的卖点，并加以展现。</p>
              </li>
              <li> <a class="h5 highlight" href="{$APP_URL}Job/detail/id/1.html">销售经理</a>
                <p class="small">制订销售计划；确定销售政策；设计销售模式；新客户开拓及信息的搜集，参与合同的谈判与签订。</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<include file=".././Common/footer.html"/>
<!-- Modal -->
<div class="modal" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">填写职位申请表</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <input id="ID" type="hidden" value="22c8214e-5dbb-e511-9e55-b8975a40f4f0" name="ID" data-val-required="ID 字段是必需的。" data-val="true">
          <input id="JobID" type="hidden" value="22c8214e-5dbb-e511-9e55-b8975a40f4f0" name="JobID" data-val-required="岗位 必填" data-val="true">
          <input id="UserIP" type="hidden" value="" name="UserIP" data-val-length-max="50" data-val-length="IP地址 不能超过 50 个字符" data-val="true">
          <input id="CreationDate" type="hidden" value="2016/6/17 13:57:15" name="CreationDate" data-val-required="申请日期 字段是必需的。" data-val-date="字段 申请日期 必须是日期。" data-val="true">
          <div class="form-group">
            <label class="control-label col-md-2" for="Name">姓名</label>
            <div class="col-md-3">
              <input id="Name" class="form-control text-box single-line" type="text" value="" name="Name" data-val-required="姓名 必填" data-val-length-max="20" data-val-length="姓名 不能超过 20 个字符" data-val="true">
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Name"></span> </div>
            <label class="control-label col-md-2" for="Sex">性别</label>
            <div class="col-md-3">
              <select id="Sex" class="form-control" name="Sex" data-val-required="性别 字段是必需的。" data-val="true">
                <option value="1" selected="selected">男</option>
                <option value="0">女</option>
              </select>
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Sex"></span> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="Educational">学历</label>
            <div class="col-md-3">
              <select id="Educational" class="form-control" name="Educational" data-val-required="学历 字段是必需的。" data-val="true">
                <option value="1">中专</option>
                <option value="2" selected="selected">高中</option>
                <option value="3">专科</option>
                <option value="4">本科</option>
                <option value="5">硕士</option>
                <option value="6">博士</option>
                <option value="7">其他</option>
              </select>
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Educational"></span> </div>
            <label class="control-label col-md-2" for="Experience">经验</label>
            <div class="col-md-3">
              <input id="Experience" class="form-control text-box single-line" type="text" value="" name="Experience" data-val-required="经验 必填" data-val="true">
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Experience"></span> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="PhoneNumber">电话</label>
            <div class="col-md-8">
              <input id="PhoneNumber" class="form-control text-box single-line" type="text" value="" name="PhoneNumber" data-val-required="电话 必填" data-val="true">
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="PhoneNumber"></span> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="Address">现住址</label>
            <div class="col-md-8">
              <input id="Address" class="form-control text-box single-line" type="text" value="" name="Address" data-val-required="现住址 必填" data-val="true">
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Address"></span> </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" for="Remark">自我描述</label>
            <div class="col-md-8">
              <textarea id="Remark" class="form-control" rows="4" name="Remark" cols="4"></textarea>
              <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span> </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
              <button class="btn btn-default btn-info segmdl2 segmdl2-Send" value="Save" type="submit">提交申请表</button>
              <button class="btn btn-default segmdl2 segmdl2-Cancel" data-dismiss="modal" value="Save" type="button">取消</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{$APP_URL}./js/jquery"></script> 
<script src="{$APP_URL}./js/jqueryval"></script> 
<script src="{$APP_URL}./js/bootstrap"></script> 
<script type="text/javascript" src="{$APP_URL}./js/WebResource.js"></script> 
<script src="{$APP_URL}./js/wow.js"></script> 
<script>
		//wow
		new WOW({ animateClass: 'animated', offset: 0 }).init();
		//toScroll
		$('a.toscroll').bind('click', function (e) {
			var $this = $(this), id = $this.attr('href');
			var offset = $(id) && $(id).length ? $(id).offset().top : 0;
			$('html,body').stop().animate({ scrollTop: offset }, 1200, 'easeInOutExpo');
			e.preventDefault();
		})
		//scrollTop
		$(window).scroll(function () {
			($(this).scrollTop() >= 200) ? $('.scroll-top').fadeIn(300) : $('.scroll-top').fadeOut(300);
		});
		
	</script>
</body>
</html>