<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<table cellspacing='0' cellpadding='0' border='0' align='center' width='648' style='font-family:微软雅黑;margin:25px auto'>
  <tbody>
    <tr>
      <td style='color:#FF6600'></td>
    </tr>
    <tr>
      <td style='border-left:1px solid #D1FFD1;padding:10px 20px 0;background:none repeat scroll 0 0 #fff;border-top:5px solid #2F363C;box-shadow:4px 6px 6px #e0e0e0;-moz-box-shadow:4px 4px 6px #e0e0e0;-webkit-box-shadow:4px 4px 6px #e0e0e0;background:#FFF;border-right:1px solid #D1FFD1'><p> /(ㄒoㄒ)/~~&nbsp;&nbsp;&nbsp;对不起,此简历已经被删除！ </p></td>
    </tr>
    <tr>
      <td style='border-left:1px solid #D1FFD1;padding:0px 20px;background:none repeat scroll 0 0 #fff;border-right:1px solid #D1FFD1'></td>
    </tr>
    <tr>
      <td style='border-bottom:1px solid #D1FFD1;border-left:1px solid #D1FFD1;padding:0 20px 20px;background:none repeat scroll 0 0 #fff;border-right:1px solid #D1FFD1'><hr style='color:#ccc'>
        <p style='color:#FF6600;font-size:9pt'> 访问创驰云官网: <a target='_blank' href='{$APP_URL}'>深圳创驰云网络技术有限公司</a> </p></td>
    </tr>
  </tbody>
</table>
</body>
</html>
