<div class="footer_text">技术支持 :  深圳市创驰云网络技术开发有限公司</div>



<div class="footer">
     <ul>
         <li><a href="{$APP_URL}">
             <span><img src=".././images/footer_1.png"></span>
             <em>网站首页</em></a>
         </li>
         <li><a href="tel:{$config.tel_400}">
             <span><img src=".././images/footer_2.png"></span>
             <em>一键拨号</em></a>
         </li>
         <li><a href="{$APP_URL}About/dh">
             <span><img src=".././images/footer_3.png"></span>
             <em>一键导航</em></a>
         </li>
         <li><a href="{$APP_URL}About/contact">
             <span><img src=".././images/footer_4.png"></span>
             <em>联系我们</em></a>
         </li>
     </ul>
</div>