
<header class="header">
	   <input type="text" placeholder="请输入查找内容" class="search">

		<a id="menu" class="menu" href="#topPopover"></a>
        <div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell"><a href="{$APP_URL}">首页</a>
						</li>
						<li class="mui-table-view-cell"><a href="{$APP_URL}About/index">关于我们</a>
						</li>
						<li class="mui-table-view-cell"><a href="{$APP_URL}News/index">新闻中心</a>
						</li>
						<li class="mui-table-view-cell"><a href="{$APP_URL}Scheme/Index">创意策划</a>
						</li>
						<li class="mui-table-view-cell"><a href="{$APP_URL}Case/index">经典案例</a>
						</li>
						<li class="mui-table-view-cell"><a href="{$APP_URL}About/contact">联系我们</a>
						</li>						
					</ul>
				</div>
			</div>

		</div>
</header>