<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="创驰云网络科技">
<meta name="description" content="创驰云网络科技">
<meta name="author" content="创驰云网络科技">
<title>产品服务_创驰云网络科技</title>
<link href=".././css/shiguang.css" rel="stylesheet">
<script src=".././js/hm.js"></script>
<script src=".././js/push.js"></script>
<script src=".././js/modernizr"></script>
</head>
<body>
<include file=".././Common/header.html"/>
<section class="banner"> <img src=".././img/banner/banner-services.jpg" alt="services" class="banner-img">
  <div class="banner-content">
    <div class="container">
      <h1 style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight">量身定做的<span class="highlight">服务</span>，您触手可得！</h1>
      <p style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;" class="lead wow bounceInRight" data-wow-delay="0.5s">Tailored service, your fingertips!</p>
    </div>
  </div>
</section>
<section class="body-content">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">当前位置：</li>
      <li><a href="{$APP_URL}">首页</a></li>
      <li class="active">服务 &amp; 产品</li>
    </ol>
    <h2 style="visibility: visible; animation-name: rubberBand;" class="text-center lingxin-font wow rubberBand">我们<span class="highlight">提供</span>以下<span class="highlight">服务</span>供您选择</h2>
    <div class="splitter"><img src=".././img/shiguang_splitter-dark.png" alt="splitter"></div>
    <div class="row text-center">
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">软件定制开发</h3>
        <p>我们推出的软件定制、定制软件服务，以最快的速度，简单的流程为客户定制高质量、易操作的管理软件，协助客户解决管理难题，为客户提供更优质的服务。</p>
        <p><a href="{$APP_URL}Customization/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">行业软件</h3>
        <p>公司代理的有财务软件、商超管理软件、酒店客房餐饮管理软件、进销存管理软件、网络办公(OA)管理软件等，满足不同行业对企业管理及发展的软件需求。</p>
        <p><a href="{$APP_URL}Software/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">微信公众平台</h3>
        <p>15大服务项目，开通简单快捷；10分钟熟悉操作界面和功能位置，30分钟即可完成上线。国内领先的微信营销服务平台,为企业打造全方位的微营销服务。</p>
        <p><a href="{$APP_URL}Weixin/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">400企业电话</h3>
        <p>对外只需公布唯一的400号码，统一宣传，简单易记。适用于教育咨询、旅游、医药、网络IT、贸易、金融、商务服务、保险、餐饮等多种类型行业。</p>
        <p><a href="{$APP_URL}Businessphone/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">网站建设</h3>
        <p>专业团队，提供一对一的专属定位；好的营销网站，带来更多的咨询量和成交量；结合网络推广，访问量、成交量翻一番；并为您提供以下运营指导服务！</p>
        <p><a href="{$APP_URL}Website/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">域名注册</h3>
        <p>电子商务、网上销售、网络广告已成为商界关注的热点。要想在网上建立服务器发布信息，则必须首先申请域名，只有有了自己的域名才能让别人访问到自己。</p>
        <p><a href="{$APP_URL}Domain/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">虚拟主机</h3>
        <p>主机是以：空间大小、流量大小、支持网站语言、数据库类型、操作系统及功能区分，我们提供经济型、全能型、ASP.Net专业型、PHP专业型等多种类型。</p>
        <p><a href="{$APP_URL}Hosting/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
      <div class="col-md-3 mb30">
        <h3 class="lingxin-font">企业邮局</h3>
        <p>微信直接收发邮件，管理功能丰富多样，应对特殊办公情景，全面支持移动办公，与QQ、微信完美整合。为企业打造全方位的信息化服务。</p>
        <p><a href="{$APP_URL}Webmail/Index" class="btn btn-info btn-sm segmdl2 segmdl2-List">详情</a></p>
      </div>
    </div>
    <h2 style="visibility: visible; animation-name: rubberBand;" class="text-center lingxin-font wow rubberBand">运营平台</h2>
    <div class="splitter"><img src=".././img/shiguang_splitter-dark.png" alt="splitter"></div>
    <div class="row">
      <div style="visibility: visible; animation-name: flipInY;" class="col-md-6 wow flipInY">
        <div class="view view-ninth"> <a href="{$APP_URL}" target="_blank"> <img src=".././img/product_shiguangwang.png" alt="创驰云网">
          <div class="mask mask-1"></div>
          <div class="mask mask-2"></div>
          <div class="content">
            <h4>创驰云网</h4>
            <p>创驰云网，教育机构信息化服务平台，记录幼儿成长时光！http://www.szlcnet.com</p>
          </div>
          </a> </div>
      </div>
      <div style="visibility: visible; animation-name: flipInY;" class="col-md-6 wow flipInY">
        <div class="view view-ninth"> <a href="{$APP_URL}" target="_blank"> <img src=".././img/product_gridmanager.png" alt="统战资源网格化管理服务平台">
          <div class="mask mask-1"></div>
          <div class="mask mask-2"></div>
          <div class="content">
            <h4>统战资源网格化管理服务平台</h4>
            <p>创新的服务与管理模式，管理网格化，服务零距离</p>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</section>
<include file=".././Common/footer.html"/>
<!-- Modal -->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">标题</h4>
      </div>
      <div class="modal-body">无内容</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<script src=".././js/jquery"></script> 
<script src=".././js/jqueryval"></script> 
<script src=".././js/bootstrap"></script> 
<script type="text/javascript" src=".././js/WebResource.js"></script> 
<script src=".././js/wow.js"></script> 
<script>
		//wow
		new WOW({ animateClass: 'animated', offset: 0 }).init();
		//toScroll
		$('a.toscroll').bind('click', function (e) {
			var $this = $(this), id = $this.attr('href');
			var offset = $(id) && $(id).length ? $(id).offset().top : 0;
			$('html,body').stop().animate({ scrollTop: offset }, 1200, 'easeInOutExpo');
			e.preventDefault();
		})
		//scrollTop
		$(window).scroll(function () {
			($(this).scrollTop() >= 200) ? $('.scroll-top').fadeIn(300) : $('.scroll-top').fadeOut(300);
		});
		
	</script> 

</body>
</html>