<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>产品分类列表</title>
    <include file="../Common/Common_include.html"/>
</head>

<body>


<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">产品分类列表</a></li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='add'}" type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a>
    </div>
</div>

<div class="rightinfo">
    <form action="" method="post" id="form_data_list">
        <table class="tablelist">
            <thead>
            <tr class="mylist_title">
                <th><input type="checkbox" class="checkbox" id="InverSelect"/></th>
                <th width="70">ID</th>
                <th>分类名称</th>
                <th>别名</th>
                <th>排序</th>
                <!--<th width="120">描述</th>-->
                <th>操 作</th>
            </tr>
            </thead>
            <tbody>
            <foreach name='$list' id='vo'>
                <tr class="datalist">
                    <td align="center"><input name="id[]" type="checkbox" value="{$vo.product_sort_id}"
                                              class="checkbox"/></td>
                                              
                                               <td>{$vo.product_sort_id}</td>
                    <td class="editTd" data="{$vo.product_sort_id},product_sort_name,{url f='update' name='product_sort_id'},{$id},{$tableName}">{$vo.mark}{$vo.product_sort_name}</td>
                    <td class="editTd" data="{$vo.product_sort_id},alias,{url f='update' name='product_sort_id'},{$id},{$tableName}">{$vo.alias}</td>
                    <td class="editTd" data="{$vo.product_sort_id},product_sort_order,{url f='update' name='product_sort_id'},{$id},{$tableName}">{$vo.product_sort_order}</td>
                    <!--<td class="editTd" style="line-height:1;" data="{$vo.product_sort_id},product_sort_content,{url f='update' name='product_sort_id'},{$id},{$tableName}">
                    {:chinesesubstr_admin($vo.product_sort_content,0,8)}
                    </td>-->
                    <td class="action">
                        <include file="../Common/Common_action.html"/>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <include file="../Common/Common_index_bottom.html"/>
    </form>
    <script language="javascript" type="text/javascript">
        require(['./js/common.js'], function (common) {
            require(['./js/public/list.js']);
        });
    </script>

</div>
</body>

</html>