<!DOCTYPE html>
<html>
<head>
<include file="../Common/meta.html" />
<link rel="stylesheet" href="{$OSS_URL}css/Panorama.css"/>
<include file="../Common/include.html" />
<script src="{$OSS_URL}js/photo-info.js" type="text/javascript"></script>
</head>
<body>
<include file="../Common/header.html" />
<div class="panorama_banner">
<!--  <h1>360 全景</h1>
  <h2>提升品牌  创造品牌</h2>
  <h3>支持pc、微信、ipad、安卓手机、苹果IOS系统、多平台高清展示</h3>
  <h4>免费上门拍摄 · 赠送网络展示空间 · 全景拍摄十送一优惠</h4>-->
</div>
<div class="advantage">
  <h3><span>Y</span><em>全景展示的优点</em></h3>
  <ul>
    <li>
      <div class="advantage_img"><img src="{$OSS_URL}img/y_1.jpg"></div>
      <div class="advantage_text">可观看整个场景空间的所有图像<br />
        高清场景<br />
        令细节表现更完美</div>
    </li>
    <li>
      <div class="advantage_img"><img src="{$OSS_URL}img/y_2.jpg"></div>
      <div class="advantage_text">全景播放经过特殊透视处理<br />
        立体感<br />
        沉浸感强烈</div>
    </li>
    <li>
      <div class="advantage_img"><img src="{$OSS_URL}img/y_3.jpg"></div>
      <div class="advantage_text">观看全景时<br />
        观赏者可通过鼠标任意放大缩小<br />
        随意拖动</div>
    </li>
    <li>
      <div class="advantage_img"><img src="{$OSS_URL}img/y_4.jpg"></div>
      <div class="advantage_text">全景制作周期短<br />
        成本远低于其他技术<br />
        实景漫游，更好的网上体验</div>
    </li>
  </ul>
</div>
<div class="application">
  <div class="application_center">
    <h3><span>Y</span><em>全景展示应用案例</em></h3>
    <ul>
      <li>
        <div class="wrap"><img src="{$OSS_URL}img/11.jpg">
          <div><b></b> <span> <em><a href=""><img src="{$OSS_URL}img/wrap_button.png"></a></em>
            <p>绿地地产室内全景图</p>
            </span> </div>
        </div>
      </li>
      <li>
        <div class="wrap"><img src="{$OSS_URL}img/22.jpg">
          <div><b></b> <span> <em><a href=""><img src="{$OSS_URL}img/wrap_button.png"></a></em>
            <p>保利地产室内全景图</p>
            </span> </div>
        </div>
      </li>
      <li>
        <div class="wrap"><img src="{$OSS_URL}img/33.jpg">
          <div><b></b> <span> <em><a href=""><img src="{$OSS_URL}img/wrap_button.png"></a></em>
            <p>华润置地室内全景图</p>
            </span> </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="flow"></div>
<include file="../Common/msg.html"/> <include file="../Common/footer1.html"/>
</body>
</html>
