<ul class='nav nav-tabs' id="nav_tabs">
    <li <if condition="$configTab =='basic'">class='active'</if>><a href="{url f='index' tip='basic'}" >基本设置</a></li>
    <li <if condition="$configTab =='image'">class='active'</if>><a href="{url f='imageSetting' tip='image'}" >图像</a></li>
    <li <if condition="$configTab =='language'">class='active'</if>><a href="{url f='language' tip='language'}">语言</a></li>
   <!-- <li <if condition="$configTab =='option'">class='active'</if>><a href="{url f='index' tip='option'}" >选项</a></li>-->
</ul>