<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <include file="../Common/Common_include.html"/>
</head>
<body>

<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">语言编辑 </a></li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='add'  tip='image'}" type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a>
    </div>
</div>
<div class="formbody">
    <div class="clear"></div>
    <include file="config_tab.html"/>
    <div class="formtitle"><span>语言编辑</span></div>
    <form method="post" action="{url f='languageUpdate' tab='language'}" class="ajax_form">
        <table cellspacing="1">
            <tr>
                <td>语言名称：</td>
                <td><input name="language" placeholder="名称" value="{$vo.language}" class="form-control" type="text">
                </td>
                <td><span class="msgInfo_input"><i>*</i>网站多语言的名称</span></td>
            </tr>
            <tr>
                <td>状态：</td>
                <td><input name="status" value="0" class="form-control" type="text"></td>
                <td><span class="msgInfo_input"><i>*</i>1-语言开启，非1即为关闭</span></td>
            </tr>

            <tr>
                <td>图标CSS：</td>
                <td><input name="css_icon" placeholder="请输入名称" class="form-control" type="text" value="{$vo.css_icon}">
                </td>
                <td><span class="msgInfo_input"><a target="_blank" href="http://fontawesome.dashgame.com/">请输入fontawesome
                    图标CSS</a></span></td>
            </tr>
            <tr>
                <td><input type="hidden" name="id" value="{$vo.id}"/><input type="hidden" name="name" value="id"/></td>
                <td>
                    <button type="button" class="btn btn-primary ajax_btn"
                            data-url="{url f='language' tip='language'}">提交
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script language="javascript" type="text/javascript">
    var TAB = "{$configTab}";
    require(['./js/common.js'], function (common) {
        require(['./js/public/edit.js']);
    });
</script>
</body>
</html>
