<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <include file="../Common/Common_include.html"/>
</head>

<body>
<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">图像设置</a></li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='addLanguage' tip='language'}" type="button"><i
                class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a>
    </div>
</div>
<div class="wrap">
    <div class='container-fluid top8'>
        <div class="clear"></div>
        <include file="config_tab.html"/>
        <br/>

        <div class="alert alert-warning" style="text-align: left;">
            <a href="#" class="close" data-dismiss="alert">
                &times;
            </a>
            <strong>警告:</strong>为了防止用户误删除语言设置，系统已关闭删除功能，只提供语言关闭！
        </div>

        <div class='tab-content' id="tab-content">
            <form action="" method="post" id="form_data_list">
                <table class="tablelist">
                    <thead>
                    <tr>
                        <th width="60"><input type="checkbox" class="checkbox" id="InverSelect"/></th>
                        <th>编号</th>
                        <th>语言名称</th>
                        <th>状态</th>
                        <th>操 作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name='$settingList' id='vo'>
                        <tr class="datalist">
                            <td align="center"><input name="id[]" type="checkbox" value="{$vo.id}" class="checkbox"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.language}</td>

                            <td align="center">
                                <include file="../Common/Common_status.html"/>
                            </td>
                            <td align="center" class="action">
                                <include file="../Common/Common_action.html"/>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>
            <include file="../Common/Common_index_bottom.html"/>
        </div>

    </div>

</div>
</div>
</div>
<script language="javascript" type="text/javascript">
    var TAB = "{$configTab}";
    require(['./js/common.js'], function (common) {
        require(['./js/webConfig/webConfig.js']);
        require(['./js/public/list.js']);
    });
</script>
</body>
</html>
