<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <include file="../Common/Common_include.html"/>
</head>

<body>
<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">图像设置</a></li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='imageAdd' tip='image'}" type="button"><i
                class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a>
    </div>
</div>
<div class="wrap">
    <div class='container-fluid top8'>
        <div class="clear"></div>
        <include file="config_tab.html"/>
        <br/>

        <div class='tab-content' id="tab-content">
            <form action="" method="post" id="form_data_list">
                <table class="tablelist">
                    <thead>
                    <tr>
                        <th width="60"><input type="checkbox" class="checkbox" id="InverSelect"/></th>
                        <th>编号</th>
                        <th>名称</th>
                        <th>宽度</th>
                        <th>高度</th>
                        <th>水印</th>
                        <th>操 作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name='$settingList' id='vo'>
                        <tr class="datalist">
                            <td align="center"><input name="id[]" type="checkbox" value="{$vo.id}" class="checkbox"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.w}</td>
                            <td>{$vo.h}</td>
                            <td align="center">
                                <if condition="$vo.watermark !=''">
                                    <a class="showImg" data-w="300" data-url="{$root_url}/{$vo.watermark}"
                                       href="javascript:;"><img
                                            onerror="this.src='../web_up_file/noPic_spic/no_image-100x100.png';"
                                            src="{$root_url}/{$vo.watermark}" width="20"/></a>
                                    <else>
                                        无水印
                                </if>
                            </td>

                            <td align="center" class="action">
                                <include file="../Common/Common_action.html"/>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </form>
            <include file="../Common/Common_index_bottom.html"/>
        </div>

    </div>

</div>
</div>
</div>
<script language="javascript" type="text/javascript">
    var TAB = "{$configTab}";
    require(['./js/common.js'], function (common) {
        require(['./js/webConfig/webConfig.js']);
        require(['./js/public/list.js']);
    });
</script>
</body>
</html>
