<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <include file="../Common/Common_include.html"/>
</head>
<body>

<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">图像添加 </a></li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='add'  tip='image'}" type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a>
    </div>
</div>


<div class="formbody">
    <div class="clear"></div>
    <include file="config_tab.html"/>
    <div class="formtitle"><span>新增图像</span></div>
    <form method="post" action="{url f='insertImg' tab='image_setting'}" class="ajax_form">
        <table cellspacing="1">
            <tr>
                <td>名称：</td>
                <td><input name="name" placeholder="名称" value="{$vo.name}" class="form-control" type="text"></td>
                <td><span class="msgInfo_input"><i>*</i>对图片设置的描述!</span></td>
            </tr>
            <tr>
                <td>宽度：</td>
                <td><input name="w" placeholder="请输入图片宽度" value="{$vo.w}" class="form-control" type="text"></td>
                <td><span class="msgInfo_input"><i>*</i>宽度如果为0，则以高度为准，等比例缩放</span></td>
            </tr>
            <tr>
                <td>高度：</td>
                <td><input name="h" placeholder="请输入图片高度" value="{$vo.h}" class="form-control" type="text"></td>
                <td><span class="msgInfo_input"><i>*</i>高度如果为0，则以宽度为准，等比例缩放</span></td>
            </tr>
            <tr>
                <td>上传水印图片：</td>
                <td>
                    <include file="../Common/Common_ajaxUpload.html"/>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>水印位置：</td>
                <td>
                    <select name="parent_id" class="form-control">
                        <option value="1">左上</option>
                        <option value="2">左中</option>
                        <option value="3">左右</option>
                        <option value="4">中左</option>
                        <option value="5">正居中</option>
                        <option value="6">中右</option>
                        <option value="7">下左</option>
                        <option value="8">下中</option>
                        <option value="9">下右</option>
                        <option value="0">随机位置</option>
                    </select>

                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <include file="../Common/Common_lang.html"/>
                    <button type="button" class="btn btn-primary ajax_btn"
                            data-url="{url f='imageSetting' tip='image'}">提交
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script language="javascript" type="text/javascript">
    var TAB = "{$configTab}";
    require(['./js/common.js'], function (common) {
        require(['./js/public/edit.js']);
    });
</script>
</body>
</html>
