<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="创驰云网络科技">
<meta name="description" content="创驰云网络科技">
<meta name="author" content="创驰云网络科技">
<title>域名注册_创驰云网络科技</title>
<link href=".././css/shiguang.css" rel="stylesheet">
<script src=".././js/hm.js"></script>
<script src=".././js/push.js"></script>
<script src=".././js/modernizr"></script>

</head>
<body>
<include file=".././Common/header.html"/>
<section class="banner"> <img src=".././img/banner/banner-webmail.jpg" alt="webmail" class="banner-img">
  <div class="banner-content">
    <div class="container">
      <h1 style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight">新网<span class="highlight">金牌代理</span>，域名注册无忧！</h1>
      <p style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;" class="lead wow bounceInRight" data-wow-delay="0.5s">New network gold agent, domain name registration worry free!</p>
    </div>
  </div>
</section>
<section class="body body-first body-intermittent">
  <div class="container">
    <ol class="breadcrumb mb80">
      <li class="active">当前位置：</li>
      <li><a href="{$APP_URL}">首页</a></li>
      <li><a href="{$APP_URL}Services/Index">服务 &amp; 产品</a></li>
      <li class="active">域名注册</li>
    </ol>
  </div>
  <div class="container">
    <h2 class="text-primary mb50 text-center">从这里开始你的互联网之旅</h2>
    <form novalidate action="/Services/DomainSearch" data-ajax="true" data-ajax-begin="searchOnbegin" data-ajax-failure="onFailure" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-update="#verfiyResult" id="form0" method="post" role="form">
      <input name="__RequestVerificationToken" value="fK6y2vDn7M7_cLFHitxUc9bKd4l1saH8mKdhGkmSjdmEOJztSFKoYwmYbpXQ6dnFxoM66GvbsmbJ-neINixz-rZwxQRtLNK0jph2QHdDhqY1" type="hidden">
      <div class="form-horizontal">
        <div class="form-group form-group-lg">
          <label class="control-label col-md-2" for="domain">域名查询</label>
          <div class="col-md-8">
            <div class="input-group">
              <input class="form-control text-box single-line" data-val="true" data-val-regex="格式无效" data-val-regex-pattern="[a-zA-Z0-9][-a-zA-Z0-9]{0,62}" data-val-required="不可为空" id="domain" name="domain" type="text">
              <span class="input-group-btn">
              <button type="submit" class="btn btn-danger btn-lg segmdl2 segmdl2-Zoom">实时查询</button>
              </span> </div>
            <span class="field-validation-valid text-danger" data-valmsg-for="domain" data-valmsg-replace="true"></span> </div>
        </div>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-2">
            <div class="checkbox domain-suffix-list">
              <label class="checkbox-inline">
                <input name="suffix" value="com" type="checkbox">
                .com</label>
              <label class="checkbox-inline">
                <input name="suffix" value="cn" type="checkbox">
                .cn</label>
              <label class="checkbox-inline">
                <input name="suffix" value="club" type="checkbox">
                .club</label>
              <label class="checkbox-inline">
                <input name="suffix" value="red" type="checkbox">
                .red</label>
              <label class="checkbox-inline">
                <input name="suffix" value="loan" type="checkbox">
                .loan</label>
              <label class="checkbox-inline">
                <input name="suffix" value="bid" type="checkbox">
                .bid</label>
              <label class="checkbox-inline">
                <input name="suffix" value="wang" type="checkbox">
                .wang</label>
              <label class="checkbox-inline">
                <input name="suffix" value="ren" type="checkbox">
                .ren</label>
              <label class="checkbox-inline">
                <input name="suffix" value="xyz" type="checkbox">
                .xyz</label>
              <label class="checkbox-inline">
                <input name="suffix" value="news" type="checkbox">
                .news</label>
              <label class="checkbox-inline">
                <input name="suffix" value="video" type="checkbox">
                .video</label>
              <label class="checkbox-inline">
                <input name="suffix" value="top" type="checkbox">
                .top</label>
              <label class="checkbox-inline">
                <input name="suffix" value="net" type="checkbox">
                .net</label>
              <label class="checkbox-inline">
                <input name="suffix" value="site" type="checkbox">
                .site</label>
              <label class="checkbox-inline">
                <input name="suffix" value="online" type="checkbox">
                .online</label>
              <label class="checkbox-inline">
                <input name="suffix" value="website" type="checkbox">
                .website</label>
              <label class="checkbox-inline">
                <input name="suffix" value="space" type="checkbox">
                .space</label>
              <label class="checkbox-inline">
                <input name="suffix" value="biz" type="checkbox">
                .biz</label>
              <label class="checkbox-inline">
                <input name="suffix" value="win" type="checkbox">
                .win</label>
              <label class="checkbox-inline">
                <input name="suffix" value="date" type="checkbox">
                .date</label>
              <label class="checkbox-inline">
                <input name="suffix" value="click" type="checkbox">
                .click</label>
              <label class="checkbox-inline">
                <input name="suffix" value="link" type="checkbox">
                .link</label>
              <label class="checkbox-inline">
                <input name="suffix" value="pics" type="checkbox">
                .pics</label>
              <label class="checkbox-inline">
                <input name="suffix" value="cc" type="checkbox">
                .cc</label>
              <label class="checkbox-inline">
                <input name="suffix" value="tech" type="checkbox">
                .tech</label>
              <label class="checkbox-inline">
                <input name="suffix" value="xin" type="checkbox">
                .xin</label>
              <label class="checkbox-inline">
                <input name="suffix" value="photo" type="checkbox">
                .photo</label>
              <label class="checkbox-inline">
                <input name="suffix" value="party" type="checkbox">
                .party</label>
              <label class="checkbox-inline">
                <input name="suffix" value="trade" type="checkbox">
                .trade</label>
              <label class="checkbox-inline">
                <input name="suffix" value="science" type="checkbox">
                .science</label>
              <label class="checkbox-inline">
                <input name="suffix" value="pub" type="checkbox">
                .pub</label>
              <label class="checkbox-inline">
                <input name="suffix" value="rocks" type="checkbox">
                .rocks</label>
              <label class="checkbox-inline">
                <input name="suffix" value="band" type="checkbox">
                .band</label>
              <label class="checkbox-inline">
                <input name="suffix" value="market" type="checkbox">
                .market</label>
              <label class="checkbox-inline">
                <input name="suffix" value="help" type="checkbox">
                .help</label>
              <label class="checkbox-inline">
                <input name="suffix" value="gift" type="checkbox">
                .gift</label>
              <label class="checkbox-inline">
                <input name="suffix" value="press" type="checkbox">
                .press</label>
              <label class="checkbox-inline">
                <input name="suffix" value="wiki" type="checkbox">
                .wiki</label>
              <label class="checkbox-inline">
                <input name="suffix" value="design" type="checkbox">
                .design</label>
              <label class="checkbox-inline">
                <input name="suffix" value="software" type="checkbox">
                .software</label>
              <label class="checkbox-inline">
                <input name="suffix" value="social" type="checkbox">
                .social</label>
              <label class="checkbox-inline">
                <input name="suffix" value="lawyer" type="checkbox">
                .lawyer</label>
              <label class="checkbox-inline">
                <input name="suffix" value="engineer" type="checkbox">
                .engineer</label>
              <label class="checkbox-inline">
                <input name="suffix" value="live" type="checkbox">
                .live</label>
              <label class="checkbox-inline">
                <input name="suffix" value="studio" type="checkbox">
                .studio</label>
              <label class="checkbox-inline">
                <input name="suffix" value="org" type="checkbox">
                .org</label>
              <label class="checkbox-inline">
                <input name="suffix" value="me" type="checkbox">
                .me</label>
              <label class="checkbox-inline">
                <input name="suffix" value="com.cn" type="checkbox">
                .com.cn</label>
              <label class="checkbox-inline">
                <input name="suffix" value="net.cn" type="checkbox">
                .net.cn</label>
              <label class="checkbox-inline">
                <input name="suffix" value="org.cn" type="checkbox">
                .org.cn</label>
              <label class="checkbox-inline">
                <input name="suffix" value="gov.cn" type="checkbox">
                .gov.cn</label>
              <label class="checkbox-inline">
                <input name="suffix" value="name" type="checkbox">
                .name</label>
              <label class="checkbox-inline">
                <input name="suffix" value="info" type="checkbox">
                .info</label>
              <label class="checkbox-inline">
                <input name="suffix" value="tv" type="checkbox">
                .tv</label>
              <label class="checkbox-inline">
                <input name="suffix" value="mobi" type="checkbox">
                .mobi</label>
              <label class="checkbox-inline">
                <input name="suffix" value="asia" type="checkbox">
                .asia</label>
              <label class="checkbox-inline">
                <input name="suffix" value="co" type="checkbox">
                .co</label>
              <label class="checkbox-inline">
                <input name="suffix" value="我爱你" type="checkbox">
                .我爱你</label>
              <label class="checkbox-inline">
                <input name="suffix" value="中国" type="checkbox">
                .中国</label>
              <label class="checkbox-inline">
                <input name="suffix" value="公司" type="checkbox">
                .公司</label>
              <label class="checkbox-inline">
                <input name="suffix" value="网络" type="checkbox">
                .网络</label>
              <label class="checkbox-inline">
                <input name="suffix" value="集团" type="checkbox">
                .集团</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8" id="verfiyResult"></div>
        </div>
      </div>
    </form>
  </div>
</section>
<include file=".././Common/footer.html"/>
<!-- Modal -->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">标题</h4>
      </div>
      <div class="modal-body">无内容</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<script src=".././js/jquery"></script> 
<script src=".././js/jqueryval"></script> 
<script src=".././js/bootstrap"></script> 
<script type="text/javascript" src=".././js/WebResource.js"></script> 
<script>
		var searchOnbegin = function (xhr) {
			var hasChecked = false;
			$('.domain-suffix-list input[type="checkbox"]').each(function (i, e) {
				if ($(e).is(':checked')) { hasChecked = true; return }
			})
			if (!hasChecked) {
				alert('必须选择一项要查询的域名后缀！');
				xhr.abort();
			}
		}
	</script> 
<script src=".././js/wow.js"></script> 
<script>
		//wow
		new WOW({ animateClass: 'animated', offset: 0 }).init();
		//toScroll
		$('a.toscroll').bind('click', function (e) {
			var $this = $(this), id = $this.attr('href');
			var offset = $(id) && $(id).length ? $(id).offset().top : 0;
			$('html,body').stop().animate({ scrollTop: offset }, 1200, 'easeInOutExpo');
			e.preventDefault();
		})
		//scrollTop
		$(window).scroll(function () {
			($(this).scrollTop() >= 200) ? $('.scroll-top').fadeIn(300) : $('.scroll-top').fadeOut(300);
		});
		
	</script>
</body>
</html>