<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<include file="../Common/Common_include.html" />
</head>

<body>
<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>
  <div class="pull-left">
    <ul class="placeul">
      <li><a href="javascript:;">部门管理</a></li>
    </ul>
  </div>
  <div class="pull-right"> <a class="btn btn-primary insetBtn" href="{url f='add'}" type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a> </div>
</div>
<div class="rightinfo">
  <div class="search">
    <form action="{url do='search'}" method="post">
      <select id="role" name="search_where[sort_id][eq]" class="form-control selectSubmit">
        <option value="0">--请选择--</option>
        <foreach name='$parent_list' id='v' }
                <option value="{$v.id}"
  				
        
        
        <if condition="$search_where.sort_id.eq==$v.id">selected="selected"</if>
        >{$v.sort_name}
		
        
        
        </option>
        </foreach>
      </select>
      &nbsp;
      <input type="text" name="search_where[job][like]" size="12" value="{$search_where.job.like}"
                   class="form-control searchInput"/>
      <input type="submit" class="btn btn-primary searchBtn" value="查 询"/>
    </form>
  </div>
  <form action="" method="post" id="form_data_list">
    <table cellspacing="1" class="tablelist">
      <thead>
        <tr class="mylist_title">
          <th><input type="checkbox" class="checkbox" id="InverSelect" /></th>
          <th>编号</th>
          <th>职位名称</th>
          <th>所属部门</th>
          <th>招聘人数</th>
          <th>应聘人数</th>
          <th>薪资待遇</th>
          <th>发布时间</th>
          <th>操 作</th>
        </tr>
      </thead>
      <tbody>
        <foreach name='$list' id='vo'>
          <tr>
            <td align="center"><input name="id[]" type="checkbox" value="{$vo.id}" class="checkbox" /></td>
            <td>{$vo.id}</td>
            <td dataType="require" class="editTd" data="{$vo.id},job,{url f='update' name='id'},{$id},{$tableName}"  style="font-weight:bold;">{$vo.job}</td>
            <td> {$vo.parent}</td>
            <td dataType="require" class="editTd" data="{$vo.id},recruitment_num,{url f='update' name='id'},{$id},{$tableName}"> {$vo.recruitment_num}</td>
            <td dataType="require"> {$vo.employ_num}</td>
            <td dataType="require" class="editTd" data="{$vo.id},salary,{url f='update' name='id'},{$id},{$tableName}"> {$vo.salary}</td>
            <td>{$vo.sart_time}</td>
            <td align="center" class="action"><include file="../Common/Common_action.html" /></td>
          </tr>
        </foreach>
      </tbody>
    </table>
    <div class="mylist_foot"> <include file="../Common/Common_index_bottom.html"/> </div>
  </form>
</div>
<script language="javascript" type="text/javascript">
  require(['./js/common.js'], function (common) {
    require(['./js/public/list.js']);
  });
</script>
</body>
</html>