<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>新增产品</title>
<include file="../Common/Common_include.html"/>
</head>

<body class="pad_bottom_20">
<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>
  <div class="pull-left">
    <ul class="placeul">
      <li><a href="javascript:;">新增产品 </a></li>
    </ul>
  </div>
  <div class="pull-right"> <a class="btn btn-primary insetBtn" href="{url f='add'}" type="button"><i
                class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a> </div>
</div>
<div class="formbody">
  <div class="formtitle"><span>新增产品</span></div>
  <form method="post" action="{url f='insert'}" class="ajax_form">
    <table cellspacing="1" class="myform">
      <tr>
        <td align="right">所属分类：</td>
        <td><select name="product_one_id" class="form-control selectSubmit">
            <option value="0">--请选择--</option>
            <foreach name='$parent_list' id='v'}
		
            
            
            <option value="{$v.product_sort_id}" > {$v.product_sort_name} </option>
            </foreach>
          </select></td>
      </tr>
      <tr>
        <td align="right">产品名称：</td>
        <td><input type="text" id="input_alias" name="product_name" size="25" value="{$vo.product_name}"
                           class="form-control"/></td>
      </tr>
      <tr>
        <td align="right">别名：</td>
        <td><input type="text" name="alias" id="alias" size="25" value="{$vo.alias}" class="form-control"/></td>
      </tr>
      <tr>
        <td align="right">配图：</td>
        <td><include file="../Common/Common_ajaxUpload.html"/></td>
      </tr>
      <tr>
        <td width="16%" align="right"><font color="#FF0000">*</font>SEO页面标题</td>
        <td width="84%"><input name="product_seo_title" id="product_seo_title" type="text" class="form-control"
                                       value="{$vo.product_seo_title}" size="100"></td>
      </tr>
      <tr>
        <td width="16%" align="right"><font color="#FF0000">*</font>SEO页面描述</td>
        <td width="84%"><textarea name="product_seo_description" cols="40" rows="3"
                                          class="form-control bootstrp_textarea top8"
                                          id="product_seo_description">{$vo.product_seo_description}</textarea></td>
      </tr>
      <tr>
        <td width="16%" align="right"><font color="#FF0000">*</font>SEO页面关键词</td>
        <td width="84%"><textarea name="product_seo_keyword" cols="30"
                                          class="form-control bootstrp_textarea top8"
                                          id="product_seo_keyword">{$vo.product_seo_keyword}</textarea></td>
      </tr>
      <tr>
        <td align="right">排 序：</td>
        <td><input type="text" name="product_order" size="25" value="{$vo.product_order}" class="form-control"/></td>
      </tr>
      <tr>
        <td align="right">url指向：</td>
        <td><input type="text" name="url" size="25"  class="form-control"/></td>
      </tr>
      <tr>
        <td align="right">推荐：</td>
        <td><input type="radio" name="product_commend" value="1"

                    
          <if condition="$vo.product_commend==1">checked</if>
          />
          是 <input name="product_commend" type="radio" value="0"

                    
          <if condition="$vo.product_commend==0">checked</if>
          />
          否 </td>
      </tr>
      <tr>
        <td align="right">自定义属性：</td>
        <td><textarea name="defined" id="defined" cols="15" rows="5"
                              class="form-control bootstrp_textarea top8">{$vo.defined}</textarea></td>
      </tr>
      <tr>
        <td align="right">分类描述：</td>
        <td style="padding:8px;"><textarea name="product_content" cols="68" rows="6"
                              class="form-control bootstrp_textarea top8">{$vo.product_content}</textarea></td>
      </tr>
      <tr>
        <td colspan="1"><include file="../Common/Common_lang.html"/>
          <input type="hidden" name="refresh" value="{url f='index'}" />
          <input type="hidden" name="sort_id" value="product_one_id" />
          <button type="button" class="btn btn-primary ajax_btn" data-url="{url f='index'}">提交</button></td>
      </tr>
    </table>
  </form>
</div>
<script src="{$APP_URL}/template/Default/kindeditor/kindeditor.js?t=" +new Date()></script> 
<script charset="utf-8" src="{$APP_URL}/template/Default/kindeditor/lang/zh_CN.js"></script> 
<script>
    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="product_content"]', {
            allowFileManager: true,
            width: "100%", //新增器的宽度为70%
            height: "450px", //新增器的高度为100px
            afterBlur: function () {
                this.sync();
            }
        });
		 
    });
</script> 
<script language="javascript" type="text/javascript">
    require(['./js/common.js'], function (common) {
        require(['./js/public/edit.js']);
        require(['./js/public/product.js']);
    });
</script>
</body>
</html>