<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="创驰云网络科技">
<meta name="description" content="创驰云网络科技">
<meta name="author" content="创驰云网络科技">
<title>虚拟主机_创驰云网络科技</title>
<link href=".././css/shiguang.css" rel="stylesheet">
<script src=".././js/hm.js"></script>
<script src=".././js/push.js"></script>
<script src=".././js/modernizr"></script>
</head>
<body>
<include file=".././Common/header.html"/>
<section class="banner"> <img src=".././img/banner/banner-services.jpg" alt="services" class="banner-img">
  <div class="banner-content">
    <div class="container">
      <h1 style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight">量身定做的<span class="highlight">服务</span>，您触手可得！</h1>
      <p style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;" class="lead wow bounceInRight" data-wow-delay="0.5s">Tailored service, your fingertips!</p>
    </div>
  </div>
</section>
<section class="body-content">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">当前位置：</li>
      <li><a href="{$APP_URL}">首页</a></li>
      <li><a href="{$APP_URL}Services/Index">服务 &amp; 产品</a></li>
      <li class="active">虚拟主机</li>
    </ol>
    <div class="row mb50">
      <div class="col-md-8">
        <div class="alert alert-info mb30">
          <h2 class="text-danger">虚拟主机</h2>
          <hr>
          <div class="mb30">经过多年技术开发与市场调研，公司逐步发现"满足客户的差异化及个性化需求"是当前通用应用软件迫切需要
            变革的趋势，为突破传统软件的局限，以高效达到客户的要求，我们推出的软件定制、定制软件服务，通过我们的努力，期许以最短的时间，最快的速度，最简单的
            流程为客户定制高质量、易操作的管理软件，协助客户解决管理的任何难题，为客户提供更优质的服务。</div>
          
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>热门服务</h4>
          </div>
          <div class="list-group">
             <a class="list-group-item text-info" href="{$APP_URL}Customization/Index">软件定制开发</a>
             <a class="list-group-item text-info" href="{$APP_URL}Software/Index">行业软件</a>
             <a class="list-group-item text-info" href="{$APP_URL}Weixin/Index">微信公众平台</a>
             <a class="list-group-item text-info" href="{$APP_URL}Businessphone/Index">400企业电话</a>
             <a class="list-group-item text-info" href="{$APP_URL}Website/Index">网站建设</a>
             <a class="list-group-item text-info" href="{$APP_URL}Domain/Index">域名注册</a>
             <a class="list-group-item text-info" href="{$APP_URL}Hosting/Index">虚拟主机</a>
             <a class="list-group-item text-info" href="{$APP_URL}Webmail/Index">企业邮局</a>
        </div>
        
      </div>
    </div>
  </div>
</section>
<include file=".././Common/footer.html"/>
<!-- Modal -->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">标题</h4>
      </div>
      <div class="modal-body">无内容</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<script src=".././js/jquery"></script> 
<script src=".././js/jqueryval"></script> 
<script src=".././js/bootstrap"></script> 
<script type="text/javascript" src=".././js/WebResource.js"></script> 
<script src=".././js/wow.js"></script> 
<script>
		//wow
		new WOW({ animateClass: 'animated', offset: 0 }).init();
		//toScroll
		$('a.toscroll').bind('click', function (e) {
			var $this = $(this), id = $this.attr('href');
			var offset = $(id) && $(id).length ? $(id).offset().top : 0;
			$('html,body').stop().animate({ scrollTop: offset }, 1200, 'easeInOutExpo');
			e.preventDefault();
		})
		//scrollTop
		$(window).scroll(function () {
			($(this).scrollTop() >= 200) ? $('.scroll-top').fadeIn(300) : $('.scroll-top').fadeOut(300);
		});
		
	</script> 

</body>
</html>