<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>新闻_创驰云网络科技</title>
<link rel="stylesheet" href="{$APP_URL}Application/M/Template/default/css/mui.min.css">
<link rel="stylesheet" type="text/css" href="{$APP_URL}Application/M/Template/default/css/app.css" />
<link rel="stylesheet" type="text/css" href="{$APP_URL}Application/M/Template/default/css/style.css" />
<script src="{$APP_URL}Application/M/Template/default/js/mui.min.js"></script>



</head>
<body>
<include file=".././Common/header.html"/>

<div class="newscontact">
     <h3>{$detail.news_title}</h3>
     <h4>{$detail.news_date}</h4>
     <div class="newscontact-text">{$detail.news_content}</div>
</div>


<div class="pagin"> {$page}</div>
<div class="footer_text">技术支持 :  深圳市创驰云网络技术开发有限公司</div>
<div class="footer">
     <ul>
         <li><a href="{$APP_URL}">
             <span><img src="{$APP_URL}Application/M/Template/default/images/footer_1.png"></span>
             <em>网站首页</em></a>
         </li>
         <li><a href="tel:{$config.tel_400}">
             <span><img src="{$APP_URL}Application/M/Template/default/images/footer_2.png"></span>
             <em>一键拨号</em></a>
         </li>
         <li><a href="{$APP_URL}About/dh">
             <span><img src="{$APP_URL}Application/M/Template/default/images/footer_3.png"></span>
             <em>一键导航</em></a>
         </li>
         <li><a href="{$APP_URL}About/contact">
             <span><img src="{$APP_URL}Application/M/Template/default/images/footer_4.png"></span>
             <em>联系我们</em></a>
         </li>
     </ul>
</div>

</body>
</html>
