<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="创驰云网络科技">
<meta name="description" content="创驰云网络科技">
<meta name="author" content="创驰云网络科技">
<title>400电话_创驰云网络科技</title>
<link href=".././css/shiguang.css" rel="stylesheet">
<script src=".././js/hm.js"></script>
<script src=".././js/push.js"></script>
<script src=".././js/modernizr"></script>
<link href=".././css/font-awesome.css" rel="stylesheet">
<link href=".././css/owl.css" rel="stylesheet">
<link href=".././css/owl_002.css" rel="stylesheet">
<style type="text/css">
#owl-demo1 .owl-prev, #owl-demo1 .owl-next {
	position: absolute;
	top: 40%;
}
#owl-demo1 .owl-prev {
	left: 0px;
	margin-left: -50px;
}
#owl-demo1 .owl-next {
	right: 0px;
	margin-right: -50px;
}
</style>
</head>
<body>
<include file=".././Common/header.html"/>
<section class="banner"> <img src=".././img/banner/banner-services.jpg" alt="400电话" class="banner-img">
  <div class="banner-content">
    <div class="container">
      <h1 style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight">一个<span class="highlight">400</span>号码，业务走遍天下！</h1>
      <p style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;" class="lead wow bounceInRight" data-wow-delay="0.5s">One 400 number, business all over the world!</p>
    </div>
  </div>
</section>
<section class="body body-first body-intermittent">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">当前位置：</li>
      <li><a href="{$APP_URL}">首页</a></li>
      <li><a href="{$APP_URL}Services/Index">服务 &amp; 产品</a></li>
      <li class="active">400电话</li>
    </ol>
  </div>
  <div class="container text-center">
    <h2 class="text-primary mb50">要么不做，要么第一</h2>
    <p class="h4 text-danger">50%的市场，10万用户的选择</p>
    <p>号令400电话自面世3年以来,即进入中国市场的领导者行列</p>
    <p class="mb30">因为用户的选择与信任,才有今天日益强大的我们</p>
    <p> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess">我要预约</a> <a href="" target="_blank" class="btn btn-danger btn-lg segmdl2 segmdl2-List">自助选号</a> </p>
  </div>
</section>
<section class="body">
  <div class="container">
    <div class="container text-center">
      <h2 class="mb50 text-primary">持续不断为用户创造价值</h2>
      <p class="mb30"><img src=".././img/product/moli.png" class="img-responsive2" alt="400服务"></p>
      <p> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess">我要预约</a> <a href="" target="_blank" class="btn btn-danger btn-lg segmdl2 segmdl2-List">自助选号</a> </p>
    </div>
  </div>
</section>
<section class="body body-intermittent">
  <div class="container text-center">
    <h2 class="mb50 text-primary">只专注于400,为用户提供6大号段全线运营</h2>
    <p class="mb30"><img src=".././img/product/haoduan.png" class="img-responsive2" alt="6大号段"></p>
    <p>是全国最先与中国移动、中国联通、中国电信签约的战略合作伙伴</p>
    <p class="mb30">拥有中国移动：4001、4007，中国联通：4000、4006，中国电信：4008、4009(6个号段)的全线运营资质</p>
    <p> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess">我要预约</a> <a href="" target="_blank" class="btn btn-danger btn-lg segmdl2 segmdl2-List">自助选号</a> </p>
  </div>
</section>
<section class="body">
  <div class="container text-center">
    <h2 class="mb50 text-primary">首家中国移动4001全国40万号码资源代理商</h2>
    <p class="mb30"><img src=".././img/product/ziyuan.jpg" class="img-responsive2" alt="资源"></p>
    <p class="mb30">高价买断中国移动40万号码资源，海量号码资源任你选</p>
    <p> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess">我要预约</a> <a href="" target="_blank" class="btn btn-danger btn-lg segmdl2 segmdl2-List">自助选号</a> </p>
  </div>
</section>
<section class="body body-intermittent">
  <div class="container text-center">
    <h2 class="text-primary mb50">30多项强大功能 只为服务于用户</h2>
    <div class="row mb30">
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>彩铃</h4>
          <hr>
          <p>这是企业的有声名片，用个性语音来代替单调铃音，给客户带去问候，也传达了公司信息。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>通话录音</h4>
          <hr>
          <p>系统可自动对每一个来电全程录音，可以登录平台在线听取也可以下载到本地保存。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>语音信箱</h4>
          <hr>
          <p>这是公司电话的"离线助理"，此功能有效确保了不错失任何时间、任何情况下的任何一个来电。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>来电分析</h4>
          <hr>
          <p>平台会记录每一通电话的来电号码、来电区域、来电时间、通话时长、并对这些数据作统计分析。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>满意度调查</h4>
          <hr>
          <p>开通此功能后，在客户挂机前，系统会自动向客户播放此条语音，让客户对本次通话满意度作出评价。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>中继功能</h4>
          <hr>
          <p>部分企业为了对外统一号码，需要申请中继线路，一个400号码下，10人以上同时拨打400号码接入。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>来电黑名单</h4>
          <hr>
          <p>用户可以在管理平台设置接听黑名单，列为黑名单的号码，不会再被接入，有效避免了电话骚扰。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>智能来电转接</h4>
          <hr>
          <p>可以将不同时间的来电转接到不同的号码接听，比如夜间可以转接至客服人员手机。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>IVR(智能语言导航)</h4>
          <hr>
          <p>开通智能语音导航的400号码，在客户拨打时，会根据拨打人的按键选择，自动将来电转到相应部门。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>工号播报</h4>
          <hr>
          <p>为客户提供人工服务前，系统自动播报预先为每位客服人员指定工号，是大型企业呼叫中心的通常做法。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>智能来电分配</h4>
          <hr>
          <p>所有来电可以按"顺序分配"或"随机分配"，各企业可以根据实际需要设置。</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h4>实时清单查询</h4>
          <hr>
          <p>所有拨打400电话的来电记录，均可以通过登录管理后台实时查询，所有来电清单长期保存。</p>
        </div>
      </div>
    </div>
    <p class="mb30">以上仅展示部分功能，更多详细功能请咨询专家和售后服务人员</p>
    <p> <a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >我要预约</a> <a href="" target="_blank" class="btn btn-danger btn-lg segmdl2 segmdl2-List">自助选号</a> </p>
  </div>
</section>
<include file=".././Common/footer.html"/>
<!-- Modal -->
<div class="modal" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">服务预约</h4>
      </div>
      <div class="modal-body">
      <div class="form-horizontal">
<div class="form-group">
<label class="control-label col-md-2" for="ServicesID">预约服务</label>
<div class="col-md-8 form-control-static">400企业电话</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="CompanyName">企业名称</label>
<div class="col-md-8">
<input id="CompanyName" class="form-control text-box single-line" type="text" value="" name="CompanyName" data-val-required="企业名称 必填" data-val-length-max="50" data-val-length="企业名称 不能超过 50 个字符" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CompanyName"></span>
<div class="help-block">如果个人用户，请填写"个人"</div>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="CompanyAddress">企业地址</label>
<div class="col-md-8">
<input id="CompanyAddress" class="form-control text-box single-line" type="text" value="" name="CompanyAddress" data-val-required="企业地址 必填" data-val-length-max="50" data-val-length="企业地址 不能超过 50 个字符" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CompanyAddress"></span>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="UserName">联系人</label>
<div class="col-md-3">
<input id="UserName" class="form-control text-box single-line" type="text" value="" name="UserName" data-val-required="联系人 必填" data-val-length-max="20" data-val-length="联系人 不能超过 20 个字符" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="UserName"></span>
</div>
<label class="control-label col-md-2" for="Sex">性别</label>
<div class="col-md-3">
<select id="Sex" class="form-control" name="Sex" data-val-required="性别 字段是必需的。" data-val="true">
<option value="1" selected="selected">男</option>
<option value="0">女</option>
</select>
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Sex"></span>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="PhoneNumber">联系电话</label>
<div class="col-md-8">
<input id="PhoneNumber" class="form-control text-box single-line" type="text" value="" name="PhoneNumber" data-val-required="联系电话 必填" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="PhoneNumber"></span>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="Remark">需求描述</label>
<div class="col-md-8">
<textarea id="Remark" class="form-control" rows="4" name="Remark" cols="4"></textarea>
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span>
</div>
</div>
<div class="form-group">
<div class="col-md-offset-2 col-md-8">
<button class="btn btn-default btn-info segmdl2 segmdl2-Send" value="Save" type="submit">提交预约</button>
<button class="btn btn-default segmdl2 segmdl2-Cancel" data-dismiss="modal" value="Save" type="button">取消</button>
</div>
</div>
</div>
      </div>
      
    </div>
  </div>
</div>
<script src=".././js/jquery"></script> 
<script src=".././js/jqueryval"></script> 
<script src=".././js/bootstrap"></script> 
<script type="text/javascript" src=".././js/WebResource.js"></script> 
<script src=".././js/owl.js"></script> 
<script>
		$(document).ready(function () {
			$("#owl-demo1").owlCarousel({ loop: true, items: 4, margin: 10, nav: true, navText: ['<span class="segmdl2 segmdl2-ScrollChevronLeftLegacy"></span>', '<span class="segmdl2 segmdl2-ScrollChevronRightLegacy"></span>'], autoplay: true });
		});
	</script> 
<script src=".././js/wow.js"></script> 
<script>
		//wow
		new WOW({ animateClass: 'animated', offset: 0 }).init();
		//toScroll
		$('a.toscroll').bind('click', function (e) {
			var $this = $(this), id = $this.attr('href');
			var offset = $(id) && $(id).length ? $(id).offset().top : 0;
			$('html,body').stop().animate({ scrollTop: offset }, 1200, 'easeInOutExpo');
			e.preventDefault();
		})
		//scrollTop
		$(window).scroll(function () {
			($(this).scrollTop() >= 200) ? $('.scroll-top').fadeIn(300) : $('.scroll-top').fadeOut(300);
		});
		
	</script> 

</body>
</html>