<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>编辑案例分类</title>
    <include file="../Common/Common_include.html"/>
</head>

<body>
<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">案例列表</a></li>
        </ul>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='add'}" type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;新增</a>
    </div>
</div>
<div class="formbody">
    <div class="formtitle"><span>新增分类</span></div>
    <form method="post" action="{url f='update'}" class="ajax_form">
        <table cellspacing="1" class="myform">
            <tr>
                <td align="right">分类名称：</td>
                <td><input type="text" name="case_sort_name" id="input_alias" size="25" value="{$vo.case_sort_name}"
                           class="form-control"/></td>
            </tr>
            <tr>
                <td align="right">别名：</td>
                <td><input type="text" name="alias" id="alias" size="25" value="{$vo.alias}" class="form-control"/></td>
            </tr>
            <tr>
                <td align="right">上级分类：</td>
                <td><select name="parent_id" class="form-control">
                    <option value="0">无</option>
                    <foreach name='$parent_list' id='v' }
                    <option value="{$v.case_sort_id}"
                    <if condition="$vo.parent_id==$v.case_sort_id">selected="selected"</if>
                    >{$v.case_sort_name}
                    </option>
                    </foreach>
                </select></td>
            </tr>
            <tr>
                <td align="right">案例分类配图：</td>
                <td>
                    <include file="../Common/Common_ajaxUpload.html"/>
                </td>
            </tr>
            <tr>
                <td align="right">排序：</td>
                <td><input type="text" name="case_sort_order" value="{$vo.case_sort_order}" size="25"
                           class="form-control"/></td>
            </tr>
            <tr>
                <td align="right">案例分类描述：</td>
                <td><textarea name="case_sort_content" cols="68" rows="6" class="form-control bootstrp_textarea">{$vo.case_sort_content}</textarea>
                </td>
            </tr>
            <tr>
                <td align="right"><input type="hidden" name="id" value="{$vo.case_sort_id}"/>
                    <input type="hidden" name="name" value="case_sort_id"/>
                    <include file="../Common/Common_lang.html"/>
                </td>
                <td>
                    <button type="button" class="btn btn-primary ajax_btn" data-url="{url f='index'}">提交</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script language="javascript" type="text/javascript">
    require(['./js/common.js'], function (common) {
        require(['./js/public/edit.js']);
        require(['./js/public/product.js']);
    });
</script>
</body>
</html>