<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>编辑管理员</title>
    <include file="../Common/Common_include.html"/>

</head>

<body>


<div class="place"><span><i class="glyphicon glyphicon-th-list"></i>&nbsp;位置：</span>

    <div class="pull-left">
        <ul class="placeul">
            <li><a href="javascript:;">编辑管理员 </a></li>
        </ul>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary insetBtn" href="{url f='add'}" type="button"><i
                class="fa fa-pencil"></i>&nbsp;&nbsp;提交</a>
    </div>
</div>

<div class="formbody">
    <div class="formtitle"><span>编辑管理员</span></div>

    <form method="post" action="{url f='update'}" class="ajax_form">
        <table cellspacing="1" class="myform">

            <tr>
                <td align="right">用户角色：</td>
                <td>
                    <select name="role_id" class="form-control selectSubmit">
                        <foreach name='$role' id='v'>
                            <option value="{$v.id}" {if condition='$vo.role_id==$v.id' }selected="selected" {/if}>{$v.title}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">用户名：</td>
                <td><input type="text" name="uname" size="25" value="{$vo.uname}" disabled="disabled" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td align="right">密 码：</td>
                <td><input type="password" name="pwd" size="25" class="form-control"/> <font color="#FF0000"> * 不修改请留空</font>
                </td>
            </tr>
            <tr>
                <td align="right">确认密码：</td>
                <td><input type="password" name="confirm_pwd" size="25" class="form-control"/></td>
            </tr>
            <tr>
                <td align="right">描 述：</td>
                <td>
                    <textarea name="description" cols="68" rows="6" class="form-control">{$vo.description}</textarea>
                </td>
            </tr>
            <tr>
                <td align="right">状 态：</td>
                <td>
                    <select name="status" class="form-control selectSubmit">
                        {:myselect('启用:1,锁定:0',$vo.status)}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right"><input type="hidden" name="id" value="{$vo.id}"/></td>
                <td>
                    <button type="button" class="btn btn-primary ajax_btn" data-url="{url f='index'}">提交</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script language="javascript" type="text/javascript">
    require(['./js/common.js'], function (common) {
        require(['./js/public/edit.js']);
    });
</script>
</body>
</html>