<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="创驰云网络科技">
<meta name="description" content="创驰云网络科技">
<meta name="author" content="创驰云网络科技">
<title>企业邮局_创驰云网络科技</title>
<link href=".././css/shiguang.css" rel="stylesheet">
<script src=".././js/hm.js"></script><script src=".././js/push.js"></script><script src=".././js/modernizr"></script>
</head>
<body>

<include file=".././Common/header.html"/>
<section class="banner"> <img src=".././img/banner/banner-webmail.jpg" alt="webmail" class="banner-img">
  <div class="banner-content">
    <div class="container">
      <h1 style="visibility: visible; animation-name: bounceInRight;" class="wow bounceInRight">无需登录邮箱，<span class="highlight">微信收发</span>邮件！</h1>
      <p style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;" class="lead wow bounceInRight" data-wow-delay="0.5s">Without login mailbox, weixin to send and receive e-mail!</p>
    </div>
  </div>
</section>
<section class="body body-first body-intermittent">
  <div class="container">
    <ol class="breadcrumb mb80">
      <li class="active">当前位置：</li>
      <li><a href="{$APP_URL}">首页</a></li>
      <li><a href="{$APP_URL}Services/Index">服务 &amp; 产品</a></li>
      <li class="active">企业邮局</li>
    </ol>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 hidden-xs text-center"><img src=".././img/product/webmail01.png" class="img-responsive2" alt="微信直接收发邮件"></div>
      <div class="col-sm-7">
        <h2 class="text-primary mb50">QQ、微信直接收发邮件</h2>
        <p class="mb30">无需安装第三方APP，捆绑微信便可随时随地收发邮件，还能及时收到新邮件提醒。作为微信企业号的默认邮箱应用，邮箱通讯录已实现与企业号组织架构一键同步；与QQ绑定，QQ面板即时邮件提醒，还可一键登录腾讯企业邮箱。</p>
        <p><a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >我要预约</a></p>
      </div>
    </div>
  </div>
</section>
<section class="body body-hasbg">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-right">
        <h2 class="text-primary mb50">管理功能丰富多样</h2>
        <p class="mb30">全域登录和发信日志可以帮助管理员查询邮箱每一次登录和发信的详细信息。一旦帐号被盗，管理员可限制成员或IP的登录或发信权限，及时控制影响面。</p>
        <p><a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >我要预约</a></p>
      </div>
      <div class="col-sm-5 hidden-xs text-center"><img src=".././img/product/webmail03.png" class="img-responsive2" alt="管理功能丰富多样"></div>
    </div>
  </div>
</section>
<section class="body body-hasbg body-intermittent">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 hidden-xs text-center"><img src=".././img/product/webmail02.png" class="img-responsive2" alt="应对特殊办公情景"></div>
      <div class="col-sm-7">
        <h2 class="text-primary mb50">应对特殊办公情景</h2>
        <p class="mb30">使用邮件撤回功能，在收件人未读邮件的情况下都能立即撤回，确保信息泄漏面最小。使用分别发送功能，收件人只能看到自己的地址，兼顾效率又突显尊重。</p>
        <p><a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >我要预约</a></p>
      </div>
    </div>
  </div>
</section>
<section class="body body-hasbg">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-right">
        <h2 class="text-primary mb50">全面支持移动办公</h2>
        <p class="mb30">可在任何终端直接配置，通过imap/smtp/pop/exchange协议连接邮箱。安卓市场和苹果商店均可下载专属应用，适配大部分主流手机。</p>
        <p><a class="btn btn-info btn-lg segmdl2 segmdl2-user-status btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >我要预约</a></p>
      </div>
      <div class="col-sm-5 hidden-xs text-center"><img src=".././img/product/webmail04.png" class="img-responsive2" alt="全面支持移动办公"></div>
    </div>
  </div>
</section>
<section class="body body-intermittent">
  <div class="container text-center">
    <h2 class="text-primary mb15">总有一款适合您</h2>
    <p class="mb50">为您提供最全面，最专业，专属定制的企业邮件服务</p>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="panel panel-info panel-pricelist">
          <div class="panel-heading">
            <h4>促销版</h4>
            <p>专为微小企业、工作室团队使用</p>
          </div>
          <div class="panel-body">
            <div class="mb30">
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 50人上限</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 每人2G邮箱容量</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 每人2G个人中转站</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 2G企业网盘</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 融合微信随时收发</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 多样登录方式 安全便捷</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 高速网络全球覆盖</p>
            </div>
            <p><a class="btn btn-info btn-lg segmdl2 segmdl2-market btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >马上订购</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-danger panel-pricelist panel-middle">
          <div class="panel-heading">
            <h4>标准版</h4>
            <p>更多企业管理功能，无限容量</p>
          </div>
          <div class="panel-body">
            <div class="mb30">
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 促销版全部功能</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 帐号越多 优惠更大</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 每人32G个人中转站</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 超大容量企业网盘</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 个性化定制企业形象</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 邮件备份 邮件归档</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 专业在线服务</p>
            </div>
            <p><a class="btn btn-danger btn-lg segmdl2 segmdl2-market btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess" >马上订购</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-success panel-pricelist">
          <div class="panel-heading">
            <h4>高级版</h4>
            <p>专业团队迅速响应，提供本地化一对一服务</p>
          </div>
          <div class="panel-body">
            <div class="mb30">
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 标准版全部功能</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 技术专家上门服务</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 售前工程师提供咨询</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 运营工程师全程协助开通</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 售后团队第一时间响应</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 整合方案专属定制</p>
              <p><span class="segmdl2 segmdl2-smiley text-success"></span> 个性化需求优先支持</p>
            </div>
            <p><a class="btn btn-success btn-lg segmdl2 segmdl2-market btn_ajx" data-ajax="true" data-ajax-begin="modalLoading" data-ajax-failure="onFailure" data-ajax-success="onSuccess">马上订购</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<include file=".././Common/footer.html"/>
<!-- Modal -->
<div class="modal" id="defaultModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">服务预约</h4>
      </div>
      <div class="modal-body">
      <div class="form-horizontal">
<div class="form-group">
<label class="control-label col-md-2" for="ServicesID">预约服务</label>
<div class="col-md-8 form-control-static">企业邮局</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="CompanyName">企业名称</label>
<div class="col-md-8">
<input id="CompanyName" class="form-control text-box single-line" type="text" value="" name="CompanyName" data-val-required="企业名称 必填" data-val-length-max="50" data-val-length="企业名称 不能超过 50 个字符" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CompanyName"></span>
<div class="help-block">如果个人用户，请填写"个人"</div>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="CompanyAddress">企业地址</label>
<div class="col-md-8">
<input id="CompanyAddress" class="form-control text-box single-line" type="text" value="" name="CompanyAddress" data-val-required="企业地址 必填" data-val-length-max="50" data-val-length="企业地址 不能超过 50 个字符" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CompanyAddress"></span>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="UserName">联系人</label>
<div class="col-md-3">
<input id="UserName" class="form-control text-box single-line" type="text" value="" name="UserName" data-val-required="联系人 必填" data-val-length-max="20" data-val-length="联系人 不能超过 20 个字符" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="UserName"></span>
</div>
<label class="control-label col-md-2" for="Sex">性别</label>
<div class="col-md-3">
<select id="Sex" class="form-control" name="Sex" data-val-required="性别 字段是必需的。" data-val="true">
<option value="1" selected="selected">男</option>
<option value="0">女</option>
</select>
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Sex"></span>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="PhoneNumber">联系电话</label>
<div class="col-md-8">
<input id="PhoneNumber" class="form-control text-box single-line" type="text" value="" name="PhoneNumber" data-val-required="联系电话 必填" data-val="true">
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="PhoneNumber"></span>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2" for="Remark">需求描述</label>
<div class="col-md-8">
<textarea id="Remark" class="form-control" rows="4" name="Remark" cols="4"></textarea>
<span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span>
</div>
</div>
<div class="form-group">
<div class="col-md-offset-2 col-md-8">
<button class="btn btn-default btn-info segmdl2 segmdl2-Send" value="Save" type="submit">提交预约</button>
<button class="btn btn-default segmdl2 segmdl2-Cancel" data-dismiss="modal" value="Save" type="button">取消</button>
</div>
</div>
</div>
      </div>
      
    </div>
  </div>
</div>
<script src=".././js/jquery"></script> 
<script src=".././js/jqueryval"></script> 
<script src=".././js/bootstrap"></script> 
<script type="text/javascript" src=".././js/WebResource.js"></script> 
<script src=".././js/wow.js"></script> 
<script>
		//wow
		new WOW({ animateClass: 'animated', offset: 0 }).init();
		//toScroll
		$('a.toscroll').bind('click', function (e) {
			var $this = $(this), id = $this.attr('href');
			var offset = $(id) && $(id).length ? $(id).offset().top : 0;
			$('html,body').stop().animate({ scrollTop: offset }, 1200, 'easeInOutExpo');
			e.preventDefault();
		})
		//scrollTop
		$(window).scroll(function () {
			($(this).scrollTop() >= 200) ? $('.scroll-top').fadeIn(300) : $('.scroll-top').fadeOut(300);
		});
		
	</script>
</body>
</html>