<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{__APP_TITLE__}</title>
<link rel="stylesheet" href="./css/skin.css" type="text/css" />
</head>

<body>
<div class="skin_title">框架皮肤（<font>动态皮肤IE7、8可能稍微卡屏</font>）</div>
<ul class="all_skin">
    <li><a href="javascript:void(0);" onclick="parent.setSkin('flash_green')"><b></b><font>绿色护眼（动态）</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('flash_beauty')"><b class="beauty"></b><font>朦胧美女（动态）</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('boat')"><b class="boat"></b><font>渔舟晨曲</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('sprite')"><b class="sprite"></b><font>守护精灵</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('wood')"><b class="wood"></b><font>木纹</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('bamboo')"><b class="bamboo"></b><font>竹林</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('sky')"><b class="sky"></b><font>蓝色天空</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('sakura')"><b class="sakura"></b><font>樱花</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('diary')"><b class="diary"></b><font>古朴日记</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('crane')"><b class="crane"></b><font>野鹤闲云</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('dragon_boat')"><b class="dragon_boat"></b><font>端午节</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('moon')"><b class="moon"></b><font>月夜传说</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('car')"><b class="car"></b><font>速度与激情</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('peach')"><b class="peach"></b><font>桃花</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('dusk')"><b class="dusk"></b><font>黄昏</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('dandelion')"><b class="dandelion"></b><font>蒲公英</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('stamp')"><b class="stamp"></b><font>邮印</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setSkin('metro')"><b class="metro"></b><font>极速清爽（默认）</font></a></li>
</ul>
<div class="skin_title">弹窗皮肤（<font>IE6切换皮肤时演示效果有问题，但不影响实际使用</font>）</div>
<ul class="dialog_skin">
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('blue')"><b class="blue"></b><font>蓝色（默认）</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('green')"><b class="green"></b><font>绿色</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('black')"><b class="black"></b><font>黑色</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('aero')"><b class="aero"></b><font>win7毛玻璃风格</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('chrome')"><b class="chrome"></b><font>chrome</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('opera')"><b class="opera"></b><font>opera</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('twitter')"><b class="twitter"></b><font>twitter</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('idialog')"><b class="idialog"></b><font>苹果风格</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('default')"><b class="default"></b><font>简洁</font></a></li>
    <li><a href="javascript:void(0);" onclick="parent.setDialogSkin('simple')"><b class="simple"></b><font>极简（非IE）</font></a></li>
</ul>
</body>
</html>