<!DOCTYPE html>
<html>
<head>
<include file="../Common/meta.html" />
<include file="../Common/include.html"/>
<link rel="stylesheet" href="{$OSS_URL}css/Move.css"/>

</head>
<body>

<include file="http://www.baidu.com"/>

<include file="../Common/header.html"/>
<div class="move_banner">
  <div class="move_center">
    <div class="move_img wow bounceInLeft animated"><img src="{$OSS_URL}img/move_phone.png"></div>
    <div class="move_text  wow fadeIn animated" data-wow-delay="0.5s">
      <h3>4亿人已经用手机上网</h3>
      <h4>您的网站准备好了吗</h4>
      <ul>
        <li>跨平台，节省开发成本</li>
        <li>无需下载，即刻浏览</li>
        <li>有效利用搜索引擎推广</li>
        <li>便于网络营销推广</li>
        <li>易于维护</li>
        <li>域名自动跳转，节省宣传成本</li>
      </ul>
    </div>
  </div>
</div>
<div class="miss">
  <div class="miss_left">
    <h3>再不行动你将错过商机</h3>
    <h4>中国手机网民已经突破<span>4.13</span>亿</h4>
    <div class="miss_left_text"> 据有关机构统计，中国5.38亿网民中，78%在使用手机
      上网。而传统网站在手机上打开太大，速度慢，导航复杂
      等糟糕的手机浏览体验会导致79%的用户流失。 </div>
  </div>
  <div class="miss_right"><img src="{$OSS_URL}img/move_1.jpg"></div>
</div>
<div class="why">
  <div class="why_left"><img src="{$OSS_URL}img/why_img.png"></div>
  <div class="why_right">
    <h3>企业为什么需要手机网站</h3>
    <h4>已经有了一个PC网站，为什么还需要一个手机网站</h4>
    <ul>
      <li>搜索引擎在手机上会优先把手机版网站排在前面，原来PC版网站在手机上处于不利的位置。</li>
      <li>PC版网页在手机上缩放后，字体很小，看不清楚。</li>
      <li>PC版图片尺寸很大，页面很大，占据很大的流量，网页加载很慢，而且浪费钱。</li>
    </ul>
  </div>
</div>
<div class="interaction">
  <div class="interaction_center">
    <div class="interaction_text">
      <h3>更便捷的移动交互</h3>
      <ul>
        <li>
          <div class="interaction_title">一键呼叫</div>
          <div class="interaction_txt">用户可直接外呼指定电话，缩短用户间距离，简化交易流程，瞬间促成交易</div>
        </li>
        <li>
          <div class="interaction_title">一键地图</div>
          <div class="interaction_txt">可定位用户当前地理位置给予地图导航引导用户对深层需求的挖掘</div>
        </li>
        <li>
          <div class="interaction_title">一键留言</div>
          <div class="interaction_txt">当您的访客看到喜欢的内容时，只需一键便可将内容分享到各大社交媒体或通过微信/短信分享给朋友</div>
        </li>
        <li>
          <div class="interaction_title">一键切换</div>
          <div class="interaction_txt">首页多张精美图片展示，支持手指触控，让您的客户摸得到您的产品，体验更流畅</div>
        </li>
      </ul>
    </div>
    <div class="interaction_img"><img style="width:474px;" src="{$OSS_URL}img/interaction_img.png"></div>
  </div>
</div>
<div class="function">
  <div class="function_img"><img src="{$OSS_URL}img/function.jpg"></div>
  <div class="function_text">
    <h3>更精确的网站功能优化</h3>
    <ul>
      <li>
        <div class="function_title">超强兼容</div>
        <div class="function_txt"> 平台：适配全部主流智能手机（包括苹果、安卓、黑莓、WindowsPhone、塞班、山寨等）机型：适配各种不同屏幕的机型（屏幕大小从3寸至6寸，分辨率从320P至1080P） </div>
      </li>
      <li>
        <div class="function_title">自动跳转</div>
        <div class="function_txt">无需新网址，您的客户在手机上使用原网址打开您的网站便可自动跳转至手机版，创驰云手机网站会根据访客使用的机型选择最合适的手机网站版本。</div>
      </li>
      <li>
        <div class="function_title">深度云同步</div>
        <div class="function_txt">传统PC网站只要一更新内容，创驰云手机网站云同步会自动实时同步多平台内容，您无需手动输入更新内容，减少维护成本</div>
      </li>
      <li>
        <div class="function_title">独立优化</div>
        <div class="function_txt">创驰云手机网站，可以从后台独立设置关键词，从而起到和PC网站独立优化的作用。</div>
      </li>
    </ul>
  </div>
</div>
<div class="spread">
  <div class="spread_center">
    <div class="spread_text">
      <h3>更实用的移动营销传播</h3>
      <ul>
        <li>
          <div class="spread_title">二维码传播</div>
          <div class="spread_txt">深度手机网站后台可以自动生成二维码供下载，你可以将二维码印上名片、
            样本、报纸等一切你可以印的东西上。扫描二维码即可自动登陆网站，方便
            快捷时髦。 </div>
        </li>
        <li>
          <div class="spread_title">短信群发传播</div>
          <div class="spread_txt">在短信中插入网址，突破短信数字限制将丰富的内容完全呈现在客户眼前。</div>
        </li>
        <li>
          <div class="spread_title">微博、微信传播</div>
          <div class="spread_txt">巧妙运用微博微信进行移动营销，抢占用户的手机终端。</div>
        </li>
        <li>
          <div class="spread_title">一键分享传播</div>
          <div class="spread_txt">当您的访客看到喜欢的内容时，只需一键便可将内容分享到各大社交媒体或
            通过微信/短信分享给朋友。 </div>
        </li>
      </ul>
    </div>
    <div class="spread_img"><img src="{$OSS_URL}img/spread_img.png"></div>
  </div>
</div>
<div class="advantage">
  <h3>手机网站六大优势，APP应用无法取代</h3>
  <ul>
    <li>
      <div class="advantage_title">兼容性强</div>
      <div class="advantage_text">跨平台适配，节省开发成本广。</div>
    </li>
    <li>
      <div class="advantage_title">访问便利</div>
      <div class="advantage_text">无需下载APP,即刻打开浏览。</div>
    </li>
    <li>
      <div class="advantage_title">维护方便</div>
      <div class="advantage_text">自动更新，易于维护，无需二次开发升级。</div>
    </li>
    <li>
      <div class="advantage_title">可收录</div>
      <div class="advantage_text">可被搜索引擎检索，助力搜索引擎排名。</div>
    </li>
    <li>
      <div class="advantage_title">优化方便</div>
      <div class="advantage_text">微博，微信，邮件，论坛等多种渠道方便线上推广。</div>
    </li>
    <li>
      <div class="advantage_title">排名高</div>
      <div class="advantage_text">能做PC和移动端的百度排名适配，能在百度移动搜索占据排名。</div>
    </li>
  </ul>
</div>
<include file="../Common/msg.html"/> <include file="../Common/footer1.html"/>
</body>
</html>
