<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<include file="../Common/meta.html"/><include file="../Common/include.html"/>
<script src="{$APP_URL}./js/Extension.js" type="text/javascript"></script>
</head>
<body>
<link rel="stylesheet" href="{$OSS_URL}css/Extension.css"/>
<include file="../Common/header.html"/>
<div id="slide" class="extension_top"
     style="padding-top:230px; background:url({$OSS_URL}img/banner3.jpg) center center no-repeat;">
  <div class="g3Mol"><b class="g3_1"> </b><b class="g3_2"> </b><a href="#guestBook"><b class="g3_btn"></b> </a></div>
</div>
<div class="worry">
  <h3>您<span>是否</span>还在为这些问题发愁？</h3>
  <ul>
    <li>
      <div class="worry_title">网络排名靠后</div>
      <div class="worry_text">搜索引擎排名靠后，且很不稳定，收录也不好？</div>
    </li>
    <li>
      <div class="worry_title">品牌推广不好</div>
      <div class="worry_text">公司知名度不高，受众范围小？急需快速、深入、大范围推广企业品牌？</div>
    </li>
    <li>
      <div class="worry_title">客户、订单少</div>
      <div class="worry_text">网站流量起起落落，基本靠促销，且无效低质咨询很多，无法掌控客户群体质量，订单太少？</div>
    </li>
    <li>
      <div class="worry_title">您就是想赶快赚钱</div>
      <div class="worry_text">广告投入大把钞票但回报“惊人”？</div>
      <div class="worry_text">百度竞价、谷歌关键词、搜狗情景广告......千头万绪你能去问元芳吗？</div>
    </li>
  </ul>
</div>
<div class="extension_top"></div>
<div class="function">
  <h3></h3>
  <ul>
    <li>
      <div class="function_img"><img src="{$OSS_URL}img/function_1.png"></div>
      <div class="function_title">云网站</div>
      <div class="function_text">三屏合一101站让你的企业遍布网络<br/>
        100家权威门户网站提供独家资源，品牌优质形象唾手可得<br/>
        批量一次性建设100个营销型专题+企业营销型官网助企业腾飞 </div>
    </li>
    <li class="on">
      <div class="function_img"><img src="{$OSS_URL}img/function_2.png"></div>
      <div class="function_title">云搜索</div>
      <div class="function_text">批量一次性建设100个营销型网站，12小时实现百度等搜索引擎排名,<br/>
        利用云搜索无限制设置关键词！ </div>
    </li>
    <li>
      <div class="function_img"><img src="{$OSS_URL}img/function_3.png"></div>
      <div class="function_title">云新闻</div>
      <div class="function_text">批量一次性在新浪等500家新闻媒体上随机进行软文报道！<br/>
        提升企业的全网影响力，打造企业品牌！ </div>
    </li>
    <li class="on">
      <div class="function_img"><img src="{$OSS_URL}img/function_4.png"></div>
      <div class="function_title">云广告</div>
      <div class="function_text">批量一次性在上百家分类信息网站与B2B商贸网站上进行信息发布！<br/>
        提升企业的信息曝光度！ </div>
    </li>
    <li>
      <div class="function_img"><img src="{$OSS_URL}img/function_5.png"></div>
      <div class="function_title">云盟</div>
      <div class="function_text">一分钟在你竞争对手在网上发布的信息广告旁批量进行广告展示把广<br/>
        告打到你的竞争对手的广告上！ </div>
    </li>
    <li class="on">
      <div class="function_img"><img src="{$OSS_URL}img/function_6.png"></div>
      <div class="function_title">G3微站</div>
      <div class="function_text">你不用再花钱做手机网站，不用再花钱做微商城，微官网，<br/>
        更不用花钱去搞在线客服系统，在这里全搞定！ </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
    $(function () {
        //云朵
        $("#slide b.g3_1").animate({
            top: 191,
            left: 306
        }, 800);
    });

</script> 
<include file="../Common/msg.html"/> <include file="../Common/footer1.html"/>
</body>
</html>
